/* =============
    Process
============= */
@use "../helpers";

#process{
    padding: 56px 24px;
   
    #top-content{
        text-align: center;
        color: var(--grey);
        font-weight: 600;
        line-height: helpers.rem-calc(28);
        margin-bottom: 24px;
    }
        
    #process-card-container{
        .process-card{
            background-color: var(--white);
            border: 3px solid var(--ghostWhite);
            margin-bottom: 48px;
            padding: 16px;
            border-radius: 14px;

            h2{
                color: var(--nightBlue);
                margin-top: 30px;
                margin-bottom: 20px;
            }
            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
                margin-bottom: 24px;
            }


        }

            
    }
}
