/* =============
    Process
============= */
@use "../helpers";

#process{
 
    .work-p{
        margin:12px 0 24px;
    }
   
    // #top-content{
    //     text-align: center;
    //     color: var(--grey);
    //     font-weight: 600;
    //     line-height: helpers.rem-calc(28);
    //     margin-bottom: 24px;
    // }
        
    ul{
        li{
            background-color: var(--white);
            border: 1px solid var(--lilyWhite);
            margin-bottom: 24px;
            padding: 30px;
            border-radius: 12px;

            h2{
                color: var(--nightBlue);
                margin: 40px 0 12px;
                font-size: helpers.rem-calc(24px);
                font-weight: 600;
            }

        }

        .selected{
            box-shadow: 0px 30px 50px 0px rgba(3,3,37,0.1);
        }
    }
}
